
/*Esercizio 1*/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
.ex-1-square:hover {
    background-color:red;
}

/*Esercizio 2*/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.ex-2-square:active {
    width:100%;
}

/*Esercizio 3*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1.5s;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/*Esercizio 4*/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background-color 1.5s;
}
.ex-4-square:hover {
    background-color: transparent;
}

/*Esercizio 5*/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: scale 0.8s ease;
}
.ex-5-square:hover {
    scale:2;
}
.ex-5-square:active {
    scale: 0.5;
}

/*Esercizio 6-7-8*/
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-7-img, .ex-8-img {
    transition: all 1.5s;
}
.ex-6-img:hover, 
.ex-7-img:hover{
    filter:grayscale(1);
}
.ex-8-img:hover {
    border-radius:15px;
    filter: sepia(0.5) grayscale(0.5);
    }

/*Esercizio 9*/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}
.ex-9-img:hover {
    scale:1.5;
    border-radius:15px;
    filter: sepia(0.5) grayscale(0.5);
}

/*Esercizio 10*/
.ex-10-icon {
    font-size: 60px;
    animation: rotating-icon 1s linear infinite;
}
@keyframes rotating-icon {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}

/*Esercizio 11*/
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    animation: hover-rotating-icon 1.8s linear;
}
@keyframes hover-rotating-icon {
    0% {
        transform: rotate(0deg)
    }
    90% {
        transform: rotate(290deg)
    }
}

/*Esercizio 12-13*/
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/*Esercizio 12*/
.ex-12-button:hover .ex-12-top-white{
    animation: twelve-top 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: twelve-bot 2s linear;
}
@keyframes twelve-top {
    0% {
        top:-10px;
        left:10%;
    }
    50% {
        top:-10px;
        left:65%;
    }
}
@keyframes twelve-bot {
    0% {
        right: 20%;
    }
    50% {
        right: 65%;
    }
}
/*Esercizio 13*/
.ex-13-button:hover .ex-13-top-white{
    animation: thirteen-top 2.5s linear;
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: thirteen-bottom 2.5s linear;
}
@keyframes thirteen-top {
    0% {
        top:-10px;
        left:10%;
    }
    25% {
        top:-10px;
        left:85%;
    }
    40% {
        top:60px;
        left:85%
    }
    75% {
        top:60px;
        left:-10%
    }
    90%{
        top:-10px;
        left:-10%;
    }
    100% {
        top:-10px;
        left:10%;
    }
}
@keyframes thirteen-bottom{
    0%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        bottom:-10px;
        right:80%;
    }
    40% {
        bottom:60px;
        right:80%;
    }
    75% {
        bottom:60px;
        right:-20%;
    }
    90%{
        bottom:-10px;
        right:-20%;
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}

